normalize-css()

// Common Transition
trans($sec = 0.3s)
    transition: all $sec ease

// Grid
$xsmall = 340px
$small = 500px
$med = 700px
$large = 960px
$wide = 1200px

/* Colour Scheme
--------------------------------------------- */

// Primary
navy-blue = #283342 // Navigation
orange = #828a5aff    // Sidebar

// Secondary
burnt = #FE7429
ocean-blue = #088FD9

// Other
light-grey = #EEE

/* Fonts
--------------------------------------------- */
quicksand = 'Quicksand', sans-serif // Headings
roboto = 'Roboto', sans-serif       // Body

/* Elements
--------------------------------------------- */

z = {
    neg: -7,
    lowest: 1,
    low: 4,
    mid: 5,
    video: 6,
    header: 7,
    nav: 8,
    mini: 9,
    modal: 10,
    highest: 11
}

$side-nav = 100px

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

/* Typography
--------------------------------------------- */

body
    font-family roboto
    font-size 16px
    color navy-blue
    background-color light-grey
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

h1
h2
h3
    font-family quicksand

p
    color navy-blue

a
    color ocean-blue
    &:hover
        text-decoration none
        color @color - 50

.page-title
    text-transform uppercase
    text-align center
    margin-bottom 30px

/* Layout
--------------------------------------------- */
header
    color #FFF
    background: #9fa86eff
    padding 20px
    fixed top left
    width 100%
    z-index: 99
    text-align right
    clearfix()
    h1
        margin 0
        font-size 2em
        float left
        font-family quicksand
        font-weight 500
        padding 5px 0
        span
            font-weight 700
        a
            color #FFF
            &:hover, &:focus
                color #FFF
                opacity 0.9
                text-decoration none
    .top-nav
        display inline-block
        text-align right
        .btn
            padding: 10px 20px
        a
            font-size 18px
        ul
            list-style-type none
            display inline-flex
            margin 0
            padding 0
        li
            padding-left 8px
        i
            padding-right: 5px;
    .login-buttons-dropdown-align-
        float right
        a
            color rgba(255,255,255,0.6)
            text-decoration none
            font-size 18px

.main-layout
    lost-center 90%
    margin 120px 0 150px
    +above($med)
        lost-center 90%
        padding-left $side-nav
    +above($large)
        margin-top 120px
    .client-name
        margin 0 0 30px

.new-client
    margin-bottom 20px

.new-client-container
    position relative
    background #FFF
    padding 20px
    margin-bottom 20px
    .fa-close
        position absolute
        top 0
        right 0
        padding 20px
    label
        display block
        margin-bottom 10px
    textarea, input
        width 100%

.home-layout
  position absolute
  width 100%
  background-color light-grey
  // background-image linear-gradient(to bottom,rgba(40,51,66,0.5) 0%,rgba(40,51,66,0.5) 100%), url("https://images.unsplash.com/photo-1425421598808-4a22ce59cc97?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=")
  // background-position center
  // -webkit-background-size cover
  // -moz-background-size cover
  // background-size cover
  // background-repeat no-repeat
  // background-attachment fixed
  .home-container
      max-width 800px
      margin 140px auto
      background-color #fff
      border 1px solid light-grey
      border-radius 8px
      padding 40px 80px
      h2
          font-size 40px
          font-weight 500
          text-align center
          margin 0
          padding 0 0 30px 0
      .search-client
          margin-bottom 40px
          input
              width 80%
              margin-right 12px
          button
              padding 12px 25px
      .login, .register
          max-width 400px
          margin 0 auto
          p
              margin 20px 0 0

/* Forms, Inputs & Buttons
--------------------------------------------- */
.btn, button
    display inline-block
    cursor pointer
    background #828a5aff
    color #FFF
    text-decoration none
    padding 12px 30px
    border none
    border-radius 8px
    font-size 18px
    font-weight 700
    trans()
    &:hover
        background @background - 20
        border-color @background
        text-decoration none
        color #FFF
    &:focus
        color #FFF
    &.btn-orange
        background orange
        border-color orange
        color #FFF
        &:hover
            background @background - 20
            border-color @background
    &.btn-deny
        background #d9534f
        &:hover
            background @background - 20
    &.btn-close
        color navy-blue
        background light-grey
        &:hover
            background @background - 20

input, select, textarea, .form-control
    color navy-blue
    background #FFF
    border solid 1px light-grey
    border-radius 8px
    font-weight 400
    width 100%
    padding 13px 20px
    margin-bottom 10px
    font-size inherit
    height inherit
    box-shadow none
    &[type="date"]
      line-height inherit
    &:focus
        outline none
        border 1px solid #ddd
    &.static-input
        border none
        background transparent

.list-group
    list-style none
    padding 0

.panel-body
    .form-group
        lost-column 1/2

.autoform-remove-item.btn
    background light-grey
    box-shadow none
    border none
    border-radius 50%
    font-size 1em
    height: 25px
    width: 25px
    text-align: center
    display: block
    padding: 0

.autoform-add-item.btn
    width 100%
    border-radius 0
    border none
    box-shadow none
    background light-grey


.autoform-remove-item-wrap
    vertical-align middle

/* Side Navigation
--------------------------------------------- */

.side-nav
    fixed bottom left
    height 100px
    width 100%
    overflow hidden
    background orange
    color #FFF
    z-index: z.header
    ul
        margin 0
        padding 0
        display flex
        justify-content space-between
        list-style none
    a
        color #FFF
        text-decoration none
        padding 20px 20px
        display block
        text-align center
        trans()
        &:hover, &.active
            background burnt
    i
        display block
        font-size 2.6em
        margin-bottom 10px
    +above($med)
        height 100%
        z-index: z.mid
        top 85px
        fixed left
        width $side-nav
        ul
            display block
        a
            padding 20px 10px
    +above($large)
        a
            padding 20px 20px

.client
    background #FFF
    padding 20px
    margin-bottom 20px
    position relative
    z-index 1
    border 1px solid light-grey
    border-radius 8px
    trans()
    .btn-primary, .btn-deny
        display block
    h3
        font-family roboto
        font-weight 400
        font-size 1.8em
        margin 0
        display inline-block
    .client-header
        border-bottom light-grey solid 1px
        padding-bottom 14px
        margin-bottom 18px
        .client-date
          float right
          font-size 14px
          font-weight 500
          background-color navy-blue
          color #FFF
          padding 8px 14px
          border-radius 50px
    .client-details
        padding-bottom 14px
    .client-footer
        .created-by
            float right
            padding 18px 0px
    button
        margin-top 20px
    span, .created-by
        font-weight 700
    .created-by
        color orange

@keyframes card
    0%
        transform translate3d(0, 0, 0)
    50%
        transform translate3d(0, -135px, 0)
    51%
        z-index 10
        transform translate3d(0, -135px, 0)
    100%
        z-index 10
        transform translate3d(0, 0, 0)

.login-buttons-dropdown-align-
    #login-dropdown-list
        right 0
        left auto

.tasks-layout
    max-width 600px
    margin 0 0 20px 0
    background-color #fff
    border-bottom: 6px solid #088fd9;
    border-radius 8px
    padding 20px
    display block
    h3
        margin 0 0 20px 0
    .task-item
        font-weight 500

/* Full Calendar
--------------------------------------------- */
.fc-header
    margin-bottom: 15px;
    h2
        margin 0
    .fc-state-default
        background-image none
        box-shadow none
        text-shadow none
        color inherit
        border none
    .fc-state-active
        background-color navy-blue
        color #fff !important
    .fc-button
        display initial
        height inherit
        padding: 0.5em 1em;

.fc
  .fc-view
      background-color #FFFFFE
      border-radius 8px
  .fc-widget-header, .fc-widget-content
      border-color light-grey
  .fc-grid
      th
          padding 8px 0
          background-color navy-blue
          color #FFF
      .fc-day-number
          padding 8px 10px 0 0
      .fc-state-highlight
          background rgba(255,150,3,0.1)
          .fc-day-number
              font-weight 500
  .fc-event
      font-size 0.80em
      background: ocean-blue !important;
      color: #FFF !important;
      border none
      .fc-event-title
          .status-Pending
              font-size: 16px
              font-weight: 500
              color: yellow
          .status-Complete
              font-size: 16px
              font-weight: 500
              color: green
  .fc-event-hori.fc-event-end, .fc-event-hori.fc-event-start
      border-radius 4px
      padding 6px 6px
      margin 2px 0 4px 0
      border none
